@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: #212121;
}

:root {
  --primary: #0070f3;
}

a {
  color: var(--primary);
}

h1 {
  font-size: 78px;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 1px;
  font-weight: 400;
}

button {
  padding-inline: 40px;
  border: solid 0px transparent;
  border-radius: 5px;
  padding: 8px;
  padding-inline: 20px;
  color: white;
  letter-spacing: 0.1em;
}

blockquote {
  padding-left: 1rem;
  border-left: 1px solid #0070f3;
  font-style: italic;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #0070f3;
  font-style: italic;
}
.max-lines-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max-lines-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ProseMirror {
  outline: none;
  padding: 20px;
}

.ProseMirror > pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  /* padding: 0.75rem 1rem; */
  /* border-radius: 0.5rem; */
  /* overflow-x: scroll; */
}

.ProseMirror > pre > code {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: inherit;
  padding: 0;
  background: none;
  font-size: 1rem;
  /* overflow-x: scroll; */
}

.menu-btn {
  color: black;
  /* background: #000; */
  padding: 2px 8px;
  line-height: normal;
  border: solid 1px gray;
  border-radius: 5px;
  margin: 1px;
}

.menu-btn:hover {
  background-color: gray;
  color: white;
}

.ProseMirror > img {
  max-height: 400px !important;
  object-fit: contain;
  margin-inline: auto;
}

.ProseMirror a {
  color: var(--primary) !important;
}

.ProseMirror p {
  padding-bottom: 8px;
}

pre > code {
  /* background: #0d0d0d; */
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: inherit;
  padding: 0;
  background: none;
  font-size: 1rem;
  /* overflow-x: scroll; */
}

pre {
  /* background: #0d0d0d; */
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  /* padding: 0.75rem 1rem; */
  /* border-radius: 0.5rem; */
  overflow-x: scroll;
}

pre::-webkit-scrollbar {
  display: none;
}

.inp {
  padding: 6px 10px;
  border: 2px solid #d0d5dd;
  outline: none;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: fit-content;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
    font-weight: 600;
  }

  .ProseMirror h1 {
    font-size: 32px;
    line-height: 34px;
    font-weight: 600;
  }

  h2 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 8px;
    padding-top: 4px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 1px;
  }

  pre {
    overflow-x: scroll;
  }
}
